blockquote, body, caption, div, h1, h2, h3, h4, h5, h6, html, li, ul, ol, p, pre, textarea, table, td, th {
	margin: 0;
	padding: 0;
}

body, html {
	background: none repeat scroll 0 0 #E3E0D1;
}

body {
	color: #333333;
	font: 100%/1.4 Georgia,serif;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 56em;
}

#wrap {
	background: none repeat scroll 0 0 #FFFFF0;
	padding: 12px;
	position: relative;
}

#content {
	clear: both;
	padding: 24px 12px;
}

#main {
	float: left;
	width: 65%;
}

#content-secondary {
	float: right;
	width: 29.5%;
}

#footer {
	clear: both;
}

a:link {
	color: #8F1F08;
}

a:visited {
	color: #5F1406;
}

a:hover, a:focus, a:active {
	background-color: #E3E0D1;
	color: #800000;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
	font: 1em/1.2 Georgia,serif;
	margin: 0 0 0.5em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

.home #main h2, #content-secondary h2 {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 0.75em;
	text-transform: uppercase;
}

#content-secondary h3 {
	font-size: 1.4em;
	line-height: 1.2;
	margin: 0 0 0.25em;
}

ul {
	list-style: square outside none;
	padding: 0 0 0 2em;
}

li {
	margin: 0 0 0.5em;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

#header {
	background-color: #450200;
}

#header h1, #header a {
	float: left;
	margin: 0;
	text-decoration: none;
}

#footer {
	border-color: #EEEECC;
	border-style: solid;
	border-width: 2px 0;
	padding: 6px 0;
}

#footer ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#footer li {
	display: inline;
	margin: 0 1em 0 0;
}

#nav {
	clear: both;
	font: 1em/2 "Helvetica Neue",Arial,Helvetica,sans-serif;
	padding-top: 3px;
}

#nav ul {
	background-color: #970601;
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}

#nav a {
	background-color: #970601;
	border-bottom: medium none;
	border-left: 1px solid #B21203;
	border-right: 1px solid #BB1600;
	color: #FFFFFF;
	display: block;
	float: left;
	padding: 0 12px;
	text-decoration: none;
}

#nav a:hover, #nav a:focus {
	background-color: #B31203;
}

#nav .sel a {
	background-color: #720000;
}

