<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<title>Bearachute - {{ page.title }}</title>
	</head>
	<body>
		<header>
			<h1 id="title">
				<a href="/about.html" title="About">Bearachute's stuff <a href="/" title="Home">here</a>
				</h1>
				<h2 id="subtitle">
					Take a look at them <a href="/archive.html" title="Archive">archives!</a>
					</h2>
					</header>
					<div id="wrapper">
						{{ content }}
						<footer id="footer">
							<a href="/" title="Home">You are here</a> &bull;
							<a href="/about.html" title="About bearachute">About</a> &bull;
							<a href="/archive.html" title="Old writings">Archive</a> &bull;
						</footer>
						</div>
						</body>
						</html>