<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<meta content="Bearachute" name="Author">
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<title>Bearachute - {{ page.title }}</title>
	</head>
	<body>
		<div id="wrap">
			<div id="header"><a href="/">Bearachute's tiny blog page</a></div>
			<div id="nav" role="navigation">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about.html" title="About bearachute">About</a></li>
					<li><a href="/archive.html" title="old writings">Archive</a></li>
					</ul>
					</div>
					<div id="content" class="clearfix">
						<div id="main" role="main">
						{{ content }}
					</div>
					<div id="content-secondary">
						{% for posts in post.title limit:3 %}
						{% endfor %}
						</div>
						<div id="footer" role="contentinfo">
							<ul>
								<li id="copyright">
									Copyright &copy; 2010 <a href="/">Bearachute</a>
									</ul>
									</div>
						</body>
						</html>